{% extends "base.html"%}
{% block title %}{% endblock %}
{% block bodyclass %} page adduser{% endblock %}
{% block content %}
{% load static %}
<div>
  <form method="post" action="{% url 'users:user_add' %}" enctype="multipart/form-data">
  {% csrf_token %}
  {% if id %}
    <input type="hidden" name="id" value="{{id}}">
    <a href="{% url 'users:change_password' %}?id={{id}} ">change password...</a>
  {% endif %}
  {% for f in form %}
      <div class="form-group">
        <div class="form-error">{{ f.errors }}</div>
        {{ f.label_tag }} {{ f }}
      </div>
  {% endfor %}
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
{% endblock %}
