{% extends "base.html"%}
{% block title %}users{% endblock %}
{% block bodyclass %} page users {% endblock %}
{% block content %}
{% load static %}
<a href="{% url 'users:user_add' %}" class="btn btn-info" role="button">Add user</a>
</br></br></br>

<table class="table table-striped">
  <thead>
  <tr valign="middle">
    <th></th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr valign="middle">
    <th scope="row"><img src="{% static 'dist/img/avatar5.png' %}" width="35" height="35" alt="..." class="img-circle"></th>
    <td>Mark</td>
    <td>Otto</td>
    <td>mark@jaglion.com</td>
    <td><button type="button" class="btn btn-success">Edit</button></td>
    <td><button type="button" class="btn btn-danger">Delete</button></td>
  </tr>
  <tr valign="middle">
    <th scope="row"><img src="{% static 'dist/img/avatar3.png' %}" width="35" height="35" alt="..." class="img-circle"></th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>jacob@jaglion.com</td>
    <td><button type="button" class="btn btn-success">Edit</button></td>
    <td><button type="button" class="btn btn-danger">Delete</button></td>
  </tr>
  <tr valign="middle">
    <th scope="row"><img src="{% static 'dist/img/avatar2.png' %}" width="35" height="35" alt="..." class="img-circle"></th>
    <td>Larry</td>
    <td>the Bird</td>
    <td>lalrry@jaglion.com</td>
    <td><button type="button" class="btn btn-success">Edit</button></td>
    <td><button type="button" class="btn btn-danger">Delete</button></td>
  </tr>
  </tbody>
</table>
{% endblock %}
