{% extends "base.html"%}
{% block title %}users{% endblock %}
{% block bodyclass %} page users {% endblock %}
{% block content %}
{% load static %}
{% load staticfiles %}
<a href="{% url 'users:user_add' %}" class="btn btn-info" role="button">Add user</a>
</br></br></br>

<table class="table table-striped">
  <thead>
  <tr valign="middle">
    <th></th>
    <th>User Name</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  {% for userprofile in users %}
  <tr valign="middle">
        {% if userprofile.picture %}
        <th scope="row"><img src="{{ MEDIA_URL }}{{userprofile.picture}}" width="35" height="35" alt="..." class="img-circle"></th>
        {% else %}
        <th scope="row"><img src="/static/dist/img/404_user.png" width="35" height="35" alt="..." class="img-circle"></th>
        {% endif %}
        <td>{{userprofile.user.username}}</td>
        <td>{{userprofile.user.first_name}}</td>
        <td>{{userprofile.user.last_name}}</td>
        <td>{{userprofile.user.email}}</td>
        <td><a class="btn btn-success" href="{% url 'users:user_add' %}?edit={{userprofile.user_id}}" role="button">Edit</a></td>
        <td><a class="btn btn-danger" href="{% url 'users:user_lists' %}?delete={{userprofile.user_id}}" role="button">Delete</a></td>
  </tr>
  {% endfor %}

  </tbody>
</table>
{% endblock %}
