{% extends "base.html"%}
{% block title %}users{% endblock %}
{% block bodyclass %} page addmessage {% endblock %}
{% block content %}
{% load static %}

<form class="">
    <div class="row">
        <div class="form-group col-md-4">
            <label for="exampleInputName2">Message ID</label>
            <input type="text" class="form-control" id="exampleInputName2" placeholder="">
        </div>

        <div class="form-group col-md-4">
            <label for="exampleInputEmail2">Message Name</label>
            <input type="text" class="form-control" id="exampleInputEmail2" placeholder="">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label for="priority">Priodity</label>
            <input type="number" id="priority" min="0"/>
        </div>
        <div class="form-group col-md-4">
            <label for="repeat">Repeat</label>
            <input type="number" id="repeat" min="0"/>
        </div>
    </div>
    message displayed on selected devices:
<table class="table table-bordered">
  <tbody>
  <tr valign="middle">
     <th scope="row"><input type="checkbox"></th>
    <th scope="row">301</th>
    <td>LED Sign</td>
    <td>South Building</td>
    <td>NB01</td>
  </tr>
  <tr valign="middle">
    <th scope="row"><input type="checkbox"></th>
    <th scope="row">302</th>
    <td>Audio Speaker</td>
    <td>North Building</td>
    <td>NB02</td>
  </tr>
</table>
    <div class="row">
        <div class="col-md-4">
            <p>Trigger On</p>
            <select multiple class="form-control">
                <option>No Trigger</option>
                <option>Time Range</option>
            </select>
        </div>
        <div class="col-md-4">
            <p>Trigger Off</p>
            <select multiple class="form-control">
                <option>No Trigger</option>
                <option>Timer</option>
            </select>
        </div>
    </div>

<div class="row">
        <div class="col-md-4">
            <p>Play Audio Alert</p>
            <select multiple class="form-control">
                <option>None</option>
                <option>Alert1</option>
            </select>
</div>
<div class="col-md-4">
            <p>Play Visual Alert</p>
            <select multiple class="form-control">
                <option>None</option>
                <option>alert1</option>
            </select>
        </div>
    </div>
<div class="row">
            <div class="col-md-4">
            <p>Play Audio message file</p>
            <select multiple class="form-control">
                <option>None</option>
                <option>message1</option>
            </select>
</div>
<div class="col-md-4">
            <p>Audio Repeat</p>
            <select multiple class="form-control">
                <option>1</option>
                <option>2</option>
            </select>
        </div>
</div>
<div class="row">
            <div class="col-md-4">
            <p>Display style</p>
            <select multiple class="form-control">
                <option>static</option>
                <option>scroll left</option>
            </select>
</div>
<div class="col-md-4">
            <p>Display Speed</p>
            <select multiple class="form-control">
                <option>fast</option>
                <option>1</option>
            </select>
        </div>
</div>
<button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
