{% extends "base.html"%}
{% block title %}users{% endblock %}
{% block bodyclass %} page users {% endblock %}
{% block content %}
{% load static %}

<a href="/addhardware" class="btn btn-info" role="button">Add Hardware</a>
</br></br></br>
hardware list
<table class="table table-bordered">
  <thead>
  <tr valign="middle">
    <th>ID</th>
    <th>Status</th>
    <th>HardWare Type</th>
    <th>Location</th>
    <th>Map</th>
    <th>Mac Adress</th>
    <th>Device IP</th>
    <th>Icon</th>
  </tr>
  </thead>
  <tbody>
  <tr valign="middle">
    <th scope="row">301</th>
    <td>Online</td>
    <td>LED Sign</td>
    <td>South Building</td>
    <td>NB01</td>
    <td>12-11-12-12-12-12</td>
    <td>192.168.1.150</td>
    <td><span aria-hidden="true" class="glyphicon glyphicon-comment"></span></td>
  </tr>
  <tr valign="middle">
    <th scope="row">302</th>
    <td>Online</td>
    <td>Audio Speaker</td>
    <td>North Building</td>
    <td>NB02</td>
    <td>13-11-14-12-12-15</td>
    <td>192.168.1.151</td>
    <td><span aria-hidden="true" class="glyphicon glyphicon-volume-up"></span></td>
  </tr>
  <tr valign="middle">
    <th scope="row">303</th>
    <td>Online</td>
    <td>Temp Sensor</td>
    <td>Boiler room1</td>
    <td>SS1</td>
    <td>15-11-11-11-11-12</td>
    <td>192.168.1.160</td>
    <td><span aria-hidden="true" class="glyphicon glyphicon-fire"></span></td>
  </tr>
    <tr valign="middle">
    <th scope="row">304</th>
    <td>Online</td>
    <td>Sequrity Alarm</td>
    <td>main system</td>
    <td>RS01</td>
    <td>19-11-12-12-12-12</td>
    <td>192.168.1.180</td>
    <td><span aria-hidden="true" class="glyphicon glyphicon-exclamation-sign"></span></td>
  </tr>
  </tbody>
</table>
{% endblock %}
