{% extends "base.html"%}
{% block title %}users{% endblock %}
{% block bodyclass %} page users {% endblock %}
{% block content %}
{% load static %}
<script src="{% static 'map/static/mapjs.js' %}" type="text/javascript"> </script>
<a href="{% url 'map:map_add' %}" class="btn btn-info" role="button">Add Map</a>
</br></br></br>
Map List
<table class="table table-bordered">
  <thead>
  <tr valign="middle">
    <th>Map Name</th>
    <th>Building</th>
    <th>Floor</th>
    <th>Add Markers</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  {% for map in maps %}
  <tr valign="middle">
    <th scope="row">{{ map.mapname }}</th>
    <td>{{ map.floor.building }} </td>
    <td>{{ map.floor }}</td>
    <td><a href="{% url 'map:markers' map.id %}" type="button" class="">add markers...</a></td>
    <td><a href="{% url 'map:edit_map' map.id %}" type="button" class="btn btn-success">Edit</a></td>
    <td><a href="{% url 'map:map_delete' %}?delete={{map.id}}" type="button" class="btn btn-danger">Delete</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>


{% endblock %}
